@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;500;600;700&display=swap");

[data-theme="dark"] {
  --navBG: rgba(27, 27, 27, 0.8);
  --blackToWhite: #1b1b1b;
  --lightGrayColor: #ccc;
  --dropColor: #1b1b1b;
  --grayColor: #fafafa;
  --darkToWhite: #111;
  --whiteToBlack: #fff;
  --whiteToBlue: #fff;
  --blueToBlack: #1b1b1b;
  --lightBlueColor: #c6d6ff;
  --blueColor: #7286d3;
  --gradient: linear-gradient(
    to bottom,
    var(--blueColor),
    var(--lightBlueColor)
  );
  --darkToWhite: #111;
  --shadow: 0 4px 5px 2px rgba(27, 27, 27, 0.5);
  --url: url("./assets/banner-black.png");
  --silpakornLogo: invert(100%);
}

[data-theme="light"] {
  --navBG: rgba(255, 255, 255, 0.8);
  --blackToWhite: #fff;
  --lightGrayColor: #ccc;
  --dropColor: #fafafa;
  --grayColor: #888;
  --darkToWhite: #111;
  --whiteToBlack: #1b1b1b;
  --whiteToBlue: #c6d6ff;
  --blueToBlack: #7286d3;
  --lightBlueColor: #c6d6ff;
  --blueColor: #7286d3;
  --gradient: linear-gradient(
    to bottom,
    var(--blueColor),
    var(--lightBlueColor)
  );
  --darkToWhite: #eee;
  --shadow: 0 4px 5px 2px rgba(142, 167, 233, 0.5);
  --url: url("./assets/banner-white.png");
  --nablaLogo: invert(100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0 !important;
}

.welcome {
  font-size: 32px !important;
  font-weight: 700 !important;
  color: var(--whiteToBlack);
}

.btn-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease-in-out;
  padding: 10px 30px !important;
}

.navbar-col {
  background: var(--navBG) !important;
  border-radius: 0px 0px 20px 20px;
  box-shadow: var(--shadow);
  backdrop-filter: blur(5px) !important;
}

.navbar-mobile {
  background-color: var(--navBG);
  border-radius: 20px;
  box-shadow: var(--shadow);
  backdrop-filter: blur(5px) !important;
}

.nav-link {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  color: var(--whiteToBlack) !important;
  font-size: 16px !important;
  padding: 10px !important;
  border-radius: 10px !important;
  cursor: pointer;
}

.nav-link:hover,
.nav-link.active {
  background-color: var(--lightBlueColor) !important;
  color: var(--blueColor) !important;
  border-radius: 10px;
  transition: all 0.25s ease-in !important;
}

.banner-container,
.about-container,
.experience-container {
  padding: 50px 0;
}

.banner {
  background: var(--url);
  height: 850px;
  background-repeat: no-repeat;
}

.name_banner {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.img-banner img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 100%;
  margin: 55px auto;
}

.btn-resume {
  width: inherit !important;
  background-color: var(--blueColor);
  color: var(--blackToWhite);
  border-radius: 5px;
  border: 1px solid var(--blueColor);
  box-shadow: var(--shadow);
}

.btn-resume:hover {
  background-color: var(--blackToWhite);
  border: 1px solid var(--blueColor);
  color: var(--blueColor);
}

.mouse {
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 31px;
  position: relative;
  border-radius: 12px;
  background-color: #fff;

  &:before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 8px;
    position: absolute;
    border-radius: 2px;
    top: 6px;
    left: 8px;
    background-color: var(--blueColor);
    animation: mouse-animation 2.75s ease-in-out infinite;
  }
}

@keyframes mouse-animation {
  0% {
    transform: scale(1, 0);
    transform-origin: 50% 0;
  }
  20%,
  80% {
    transform: scale(1, 1);
  }
  81% {
    transform-origin: 50% 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 50% 100%;
  }
}

.mouse-left,
.mouse-right {
  padding: 0 10px;
  font-size: 16px;
  font-weight: 600;
  color: var(--whiteToBlack);
}

.box-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: var(--whiteToBlack);
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
}

.title span {
  background: var(--gradient);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-title {
  width: 50px;
  height: 5px;
  border-bottom: 5px solid var(--blueColor);
  border-radius: 10px;
  margin: 10px 0 50px 0;
}

/* About */
.about-container {
  background-color: var(--dropColor);
}

.img-about {
  width: 100%;
  object-fit: cover;
}

.about-text {
  line-height: 25px;
  padding: 20px 50px;
  text-wrap: wrap;
  color: var(--whiteToBlack);
}

.expertise-box {
  margin-top: 0px;
  color: var(--whiteToBlack);
}

.expertise-box h3 {
  font-size: 24px;
  font-weight: 600;
}

.expertise {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.expertise li {
  width: fit-content;
  padding: 5px 10px;
  background-color: var(--darkToWhite);
  color: var(--grayColor);
  margin: 5px;
  border-radius: 5px;
}

.expertise-design {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

/* Experience */

.exp-row {
  padding: 0 10px 50px 10px;
}

.experience-container {
  background-color: var(--darkToWhite);
}

.exp-box {
  color: var(--whiteToBlack);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.topic {
  font-weight: 600;
  padding-bottom: 30px;
  color: var(--whiteToBlack);
}

.exp-box h2 {
  font-size: 32px;
  font-weight: 600;
}

.exp-box h3 {
  font-size: 20px;
  padding: 20px 0;
  font-weight: 400;
}

.exp-box h4 {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
}

.topic-line {
  width: 75%;
  border: 2px solid var(--blueColor);
  border-radius: 20px;
  margin-top: 50px;
}

.btn-link {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  transition: all 0.25s ease-in;
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none !important;
  color: var(--whiteToBlack);
  border: 1px solid var(--whiteToBlack);
}

.btn-link:hover {
  color: var(--blackToWhite) !important;
  background-color: var(--whiteToBlack);
}

.description-nabla {
  width: 100%;
}

.img-education {
  width: 100%;
}

.img-nabla {
  filter: var(--nablaLogo);
}

.img-silpakorn {
  width: 75%;
  filter: var(--silpakornLogo);
}

/* Projects */

/* Breakpoint */

@media (min-width: 576px) {
  .banner-container {
    padding-top: 100px;
  }
  .banner {
    height: 700px;
  }
  .welcome {
    font-size: 48px !important;
    display: inline-flex;
    justify-content: center;
  }
  .name_banner {
    padding-left: 10px;
  }
  .img-banner img {
    margin: 20px auto;
  }
  .about-text {
    padding: 0;
  }
  .exp-row {
    padding: 0 50px 50px 50px;
  }
  .expertise-box {
    margin-top: 30px;
  }
  .description-nabla {
    width: 75%;
  }
  .img-silpakorn {
    width: 50%;
  }
}
